@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.f10{
	font-size:10px!important;
}

.f12{
	font-size:12px!important;
}

.f14{
	font-size:14px!important;
}

.f16{
	font-size:16px!important;
}

.f18{
	font-size:18px!important;
}

.f20{
	font-size:20px!important;
}

.f21{
	font-size:21px!important;
}

.homepage_1{
	padding-top:80px;
	padding-bottom:40px;
}

.homepage_1 .sideimg{
	width:100%;
	margin-top:40px;
}

.homepage_1 .sidecontent{
	padding-top:0px;
	padding-left:50px;
	padding-bottom:50px;	
  /* Zoom out */
  transform: scale(0.85); /* 0.9 = 90% of its original size */
  transform-origin: center; /* Keep scaling centered */
}

.homepage_1 .sidecontent h4{
	font-family: Raleway;
	font-size: 25.77px;
	font-weight: 700;
	letter-spacing: 0.2615290582180023px;
	text-align: left;
	color:#ffffff;
	margin-top:0px;
	margin-bottom:10px;
}

.homepage_1 .sidecontent h5{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: left;
	color:#ffffff;
	margin-bottom:10px;
	margin-top:10px;	
}

.homepage_1 .sidecontent span{
	font-family: Raleway;
	font-weight: 800;
	letter-spacing: 0.2615290582180023px;
	text-align: left;
	color: #BC66EE;
}

.homepage_1 .sidecontent p{
	font-family: Raleway;
	font-size: 13px;
	font-weight: 300;
	line-height:24px;
	letter-spacing: 0.2615290582180023px;
	text-align: left;
	color:#ffffff;
}

.homepage_1 .sidecontent .mins{
	font-family: Roboto Flex;
	font-size: 16px;
	font-weight: 700;
	line-height: 16.75px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
}

.homepage_1 .sidecontent .mins-small{
	font-family: Roboto Flex;
	font-size: 12px;
	font-weight: 300;
	line-height: 12.06px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.homepage_1 .sidecontent .hero_introduction{
	width:100%;
	border-radius:7px;
}

.homepage_1 .sidecontent .fsp1{
	font-family: Plus Jakarta Sans;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #4E4B66;	
	margin-left:-10px;
	margin-right:0px;
	margin-top:4px;
	margin-bottom:2px;
}

.homepage_1 .sidecontent .fsp2{
	font-family: Roboto Flex;
	font-size: 10px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #4E4B66;	
	margin-left:-10px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:2px;
}

.homepage_1 .sidecontent ul{
	border:0px;
}

.homepage_1 .sidecontent ul li{
	border: 1px dotted #D9DBE9;
	border-radius:5px;
	border-left: 5px solid #AA81FB;
	font-family: Roboto Flex;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;	
	color: #4E4B66;
}

.homepage_1 .sidecontent .btn{
	background: linear-gradient(270deg, #AA81FB 0%, #AA81FB 100%);	
	color:#ffffff;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 1.25px;
	text-align: center;	
	width: Hug (157px)px;
	height: Hug (40px)px;
	padding: 12px 16px 12px 16px;
	gap: 12px;
	border-radius: 44px 0px 0px 0px;
	margin-right:-15px;
}

.homepage_2{
	padding-top:0px;
	position:relative;
	padding-bottom:90px;
}

.homepage_2 .homepage_2_title_1{
	font-family: Raleway;
	font-size: 32px;
	font-weight: 700;
	line-height: 37.57px;
	letter-spacing: 0.20000000298023224px;
	color:#ffffff;
}

.homepage_2 .homepage_2_title_1 span{
	color:#BC66EE;
}

.homepage_2 .homepage_2_sub_title_1{
	font-family: Raleway;
	font-size: 22px;
	font-weight: 600;
	line-height: 25.83px;
	letter-spacing: 0.11749999970197678px;
	color:#ffffff;
	margin-bottom:30px;
}

.homepage_3{
	position:relative;
	padding-top:20px;
	padding-bottom:80px;
}

.homepage_3 .imgbox{
	width:100%;
}

.homepage_3 .title{
	font-family: Raleway;
	font-size: 24px;
	font-weight: 700;
	line-height: 37.57px;
	letter-spacing: 0.20000000298023224px;
	color:#ffffff;
	margin-top:20px;
}

.homepage_3 .sub_title{
	font-family: Roboto Flex;
	font-size: 64px;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color: #AA81FB;
}

.homepage_3 .child_title{
	font-family: Raleway;
	font-size: 20px;
	font-weight: 600;
	margin-left:5px;
	line-height: 75px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.homepage_3 .pt{
	font-family: Roboto Flex;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.015em;
	text-align: left;	
	color:#ffffff;
}

.homepage_3 .contentbox{
	position:absolute;
	bottom:55px;
	left:0px;
	width:100%;
}

.homepage_3 .contentbox .title{
	font-family: Raleway;
	font-size: 22px;
	font-weight: 700;
	line-height: 35.57px;
	letter-spacing: 0.20000000298023224px;
	color:#ffffff;
	margin-bottom:0px;
}

.homepage_3 .contentbox .sub_title{
	font-family: Raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 25.83px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;	
	color:#ffffff;
}

.child_title_{
	font-family: Roboto Flex;
	font-size: 18px;
	font-weight: 600;
	line-height: 22.19px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;	
	color:#BB65EA;
	margin-left:0px;
}

.cp_{
	font-family: Roboto Flex;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	letter-spacing: 0.015em;
	text-align: left;
	color:#ffffff;	
}

.circle_{
	width:8px;
	height:8px;
	border-radius:50%;
	background: #BB65EA;
	margin-top:-10px;
}

.homepage_4{
	padding-top:0px;
	position:relative;
	padding-bottom:80px;
}

.homepage_4 .homepage_4_title_1{
	font-family: Raleway;
	font-size: 32px;
	font-weight: 700;
	line-height: 37.57px;
	letter-spacing: 0.20000000298023224px;
	color:#ffffff;
}

.homepage_4 .homepage_4_title_1 span{
	color:#BC66EE;
}

.homepage_4 .homepage_4_sub_title_1{
	font-family: Raleway;
	font-size: 22px;
	font-weight: 600;
	line-height: 25.83px;
	letter-spacing: 0.11749999970197678px;
	color:#ffffff;
	margin-bottom:30px;
}

.homepage_4 .homepage_4_title_1_{
	font-family: Raleway;
	font-size: 27px;
	font-weight: 700;
	line-height: 27.57px;
	letter-spacing: 0.20000000298023224px;
	color:#ffffff;
}

.homepage_4 .homepage_4_title_1_ span{
	color:#BC66EE;
}

.homepage_4 .homepage_4_sub_title_1_{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 20.83px;
	letter-spacing: 0.11749999970197678px;
	color:#ffffff;
	margin-bottom:30px;
}

.homepage_4 .rightbox{
	position:absolute;
	top:4%;
	right:120px;
}

.homepage_5{
	position:relative;
	padding-top:0px;
	padding-bottom:80px;
}

.homepage_5 img{
	width:100%;
	border-radius:15px;
	margin:5px;
}

.homepage_5 h4{
	margin-top:50px;
	font-family: Raleway;
	font-size: 22px;
	font-weight: 600;
	line-height: 22.76px;
	letter-spacing: 0.23142673075199127px;
	text-align: left;
	color:#ffffff;	
}

.homepage_5 h3{
	font-family: Raleway;
	font-size: 32.22px;
	font-weight: 700;
	line-height: 32.13px;
	letter-spacing: 0.4123193323612213px;
	text-align: left;
	color: #AA81FB;	
}

.homepage_5 .h3{
	font-size: 45.22px;
}

.homepage_5 .con{
	position:relative;
}
.homepage_5 .content{
	height:100%!important;
	position:absolute;
	top:20px;
	left:20px!important;
	right:20px!important;
}

.homepage_5 .content img{
	width:40px;
}

.homepage_5 h5{
	position:absolute;
	bottom:35%;
	left:10px;
	right:10px;
	font-family: Raleway;
	font-size: 1rem;
	text-transform:uppercase;
	font-weight: 800;
	line-height: 20.69px;
	letter-spacing: 0.2735043168067932px;
	text-align: left;	
}

.homepage_5 p{
	position:absolute;
	bottom:18%;
	left:10px;
	right:10px;
	font-family: Roboto Flex;
	font-size: 0.80rem;
	font-weight: 400;
	line-height: 16.88px;
	letter-spacing: 0.2735043168067932px;
	text-align: left;	
	white-space: wrap;
}

.homepage_5 .text-dark-title{
	color: #AA81FB;
}

.homepage_5 .text-dark-content{
	color: #6E7191;
}

.homepage_6{
	position:relative;
	padding-top:0px;
	padding-bottom:80px;
}

.homepage_6 .cardbox{
	width:100%;
	height:400px;
	padding:15px;
	position:relative;
	overflow:hidden;
	background: linear-gradient(180deg, rgba(19, 19, 19, 0.8) 0%, rgba(32, 32, 32, 0.8) 100%);
	border: 3px solid #ffffff;
	border-image-source: linear-gradient(188.76deg, rgba(255, 255, 255, 0.3) 0.3%, rgba(100, 100, 100, 0.3) 0.3%, #4d4d4d 98.85%);
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.3); /* Inset shadow only at bottom */
}

.homepage_6 .cardbox .hoomans{
	width:60%;
}

.homepage_6 .cardbox .cardbox_img{
	position:absolute;
	bottom:-36.50%;
	right:-12%;
	width:60%;
	z-index:0;
}

.homepage_6 .cardbox .user_circle{
	width:100%;
}

.homepage_6 h4{
	font-family: Raleway;
	font-size: 22px;
	font-weight: 600;
	line-height: 37.57px;
	text-align: left;
	color:#ffffff;
}

.homepage_6 h5{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 700;
	line-height: 28.18px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	text-transform:uppercase;
	color: #AA81FB;	
}

.homepage_6 .child_title{
	font-family: Raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 16.44px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	text-transform:uppercase;
	color: #ffffff;
}

.homepage_6 h4 span{
	color: #BB65EA;
}

.homepage_6 .sub_title{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 28.18px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;	
}

.homepage_6 p{
	font-family: Roboto Flex;
	font-size: 14px;
	margin-top:5px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.015em;
	text-align: left;
	color:#ffffff;
}

.homepage_6 a{
	color:#ffffff;
	text-transform:uppercase;
}

.goal_section{
	background: linear-gradient(180deg, #BB65ED 0%, #492779 100%);
	border-radius:0px 100px 0px 0px;
	padding-bottom:10px;
	position:relative;
}

.goal_section img{
	margin-left:auto;
	margin-right:auto;
	width:90%;
}

.goal_section .imgbox{
	margin-left:auto;
	margin-right:auto;
	width:250px;
	text-align:center;
	color:#ffffff;
}

.goal_section h4{
	margin-bottom:0px;
	font-family: Raleway;
	font-size: 27.77px;
	font-weight: 800;
	line-height: 73.69px;
	letter-spacing: 0.2615290582180023px;
	text-align: center;
}

.goal_section h5{
	margin-top:-45px;
	font-family: Raleway;
	font-size: 21px;
	font-weight: 800;
	line-height: 73.69px;
	letter-spacing: 0.2615290582180023px;
	text-align: center;
}

.same_boat{
	position:relative;
	padding-top:40px;
	padding-bottom:40px;	
}

.same_boat .con{
	margin:0px;
	padding:3px;
}

.same_boat .title{
	font-family: Raleway;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 37.57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color:#ffffff;	
}

.same_boat .title span{
	color: #BC66EE;	
}

.same_boat .sub_title{
	font-family: Raleway;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 25.83px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.same_boat .sb_card1{
	background:#ffffff;
	width:100%;
	border-radius:10px;	
	margin-top:5px;
}

.same_boat .sb_card1 .title1{
	font-family: Raleway;
	font-size: 2rem;
	font-weight: 700;
	line-height: 42.26px;
	letter-spacing: 0.21501341462135315px;
	text-align: left;
	color:#AA81FB;
	text-transform:uppercase;
}

.same_boat .sb_card1 .title2{
	font-family: Roboto Flex;
	font-size: 0.8rem;
	font-weight: 600;
	line-height: 14.06px;
	letter-spacing: 0.21501341462135315px;
	text-align: left;
	color:#6E7191;
	text-transform:uppercase;	
}

.same_boat .sb_card1 p{
	font-family: Roboto Flex;
	font-size: 0.7rem;
	font-weight: 400;
	line-height: 25.8px;
	letter-spacing: 0.015em;
	text-align: left;
	color:#6E7191;	
}

.same_boat .sb_card1 ul{
	margin-left:-15px;
}

.same_boat .sb_card1 ul li{
font-family: Roboto Flex;
font-size: 12px;
font-weight: 400;
line-height: 21.5px;
letter-spacing: 0.21501341462135315px;
text-align: justified;	
color:#6E7191;
text-transform:uppercase;
}

.same_boat .sb_card1 a{
font-family: Plus Jakarta Sans;
font-size: 0.7rem;
font-weight: 600;
line-height: 17.64px;
letter-spacing: 0.21501341462135315px;
text-align: center;
color:#462576;	
}

.same_boat .sb_card2{
	background: linear-gradient(0deg, #562999 0%, #8245DC 100%);
	width:100%;
	border-radius:10px;	
	margin-top:5px;
}

.same_boat .sb_card2 .title1{
	font-family: Raleway;
	font-size: 2rem;
	font-weight: 700;
	line-height: 42.26px;
	letter-spacing: 0.21501341462135315px;
	text-align: left;
	color:#ffffff;
	text-transform:uppercase;
}

.same_boat .sb_card2 .title2{
	font-family: Roboto Flex;
	font-size: 0.8rem;
	font-weight: 600;
	line-height: 14.06px;
	letter-spacing: 0.21501341462135315px;
	text-align: left;
	color:#ffffff;
	text-transform:uppercase;	
}

.same_boat .sb_card2 p{
	font-family: Roboto Flex;
	font-size: 0.7rem;
	font-weight: 400;
	line-height: 25.8px;
	letter-spacing: 0.015em;
	text-align: left;
	color:#ffffff;	
}

.same_boat .sb_card2 ul{
	margin-left:-15px;
}

.same_boat .sb_card2 ul li{
	font-family: Roboto Flex;
	font-size: 12px;
	font-weight: 400;
	line-height: 21.5px;
	letter-spacing: 0.21501341462135315px;
	text-align: justified;	
	color:#ffffff;
	text-transform:uppercase;
}

.same_boat .sb_card2 a{
	font-family: Plus Jakarta Sans;
	font-size: 0.7rem;
	font-weight: 600;
	line-height: 17.64px;
	letter-spacing: 0.21501341462135315px;
	text-align: center;
	color:#ffffff;	
}

.sb_card3{
	position:relative;
	background:#ffffff;
	background-image: url('../assets/home/circlelt.png'); /* Path to your SVG file */
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: bottom right; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card3 img{
	width:50px;
	height:50px;
	position:absolute;
	top:10px;
	right:10px;
}

.sb_card3 h4{
	font-family: Raleway;
	font-size: 32.75px;
	font-weight: 700;
	line-height: 28.45px;
	letter-spacing: 0.1819344311952591px;
	text-align: left;
	color:#AA81FB;
	margin-top:110px;
}

.sb_card4,.sb_card4_{
	position:relative;
	background-color: #9558EE;
	background-image: url('../assets/home/circlert.png');;
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: bottom left; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin:0px;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card4 img,
.sb_card4_ img{
	width:50px;
	height:50px;
	position:absolute;
	top:10px;
	right:10px;
}

.sb_card4 h4,
.sb_card4_ h4{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 800;
	line-height: 18.78px;
	letter-spacing: 0.21501342952251434px;
	text-align: left;
	color:#ffffff;
	margin-top:85px;
	text-transform:capitalize;
}

.sb_card4 .h4,
.sb_card4_ .h4_{
	margin-top:85px;
	text-transform:capitalize;
}

.h4_title{
	margin-top:72px!important;
}

.sb_card4 p,
.sb_card4_ p{
	text-transform:capitalize;	
	font-family: Roboto Flex;
	font-size: 10px;
	margin-bottom:6px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.21501342952251434px;
	text-align: left;
	color:#ffffff;
}

.sb_card5{
	position:relative;
	background-color: #9558EE;
	background-image: url('../assets/home/circlelb.png');
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: top right; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card5__{
	position:relative;
	background-color: #9558EE;
	background-image: url('../assets/home/circlerb.png');
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: top right; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card5___{
	position:relative;
	background-color: #9558EE;
	background-image: url('../assets/home/circlerb.png');
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: top left; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card5_{
	position:relative;
	background-color: #ffffff;
	background-image: url('../assets/home/circlelb.png');;
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: top right; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card5 img,
.sb_card5__ img,
.sb_card5___ img{
	width:50px;
	height:50px;
	position:absolute;
	top:10px;
	right:10px;
}

.sb_card5 h4,
.sb_card5__ h4,
.sb_card5___ h4
{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 800;
	line-height: 18.78px;
	letter-spacing: 0.21501342952251434px;
	text-align: left;
	color:#ffffff;
	margin-top:85px;
	text-transform:capitalize;
}

.sb_card5 p,
.sb_card5__ p,
.sb_card5___ p
{
	text-transform:capitalize;
	font-family: Roboto Flex;
	font-size: 10px;
	margin-bottom:6px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.21501342952251434px;
	text-align: left;
	color:#ffffff;
}

.sb_card6{
	position:relative;
	background-color: #ffffff;
	background-image: url('../assets/home/circlerb.png');
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: top left; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card6__{
	position:relative;
	background-color: #ffffff;
	background-image: url('../assets/home/circlelb.png');
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: top right; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card6___{
	position:relative;
	background-color: #ffffff;
	background-image: url('../assets/home/circlelt.png');
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: bottom right; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card6_{
	position:relative;
	background-color: #ffffff;
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card6 img,
.sb_card6_ img,
.sb_card6__ img,
.sb_card6___ img,
.sb_card5_ img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}


.sb_card6 h4,
.sb_card6_ h4,
.sb_card6__ h4,
.sb_card6___ h4,
.sb_card5_ h4{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 800;
	line-height: 18.78px;
	letter-spacing: 0.21501342952251434px;
	text-align: left;
	text-transform:capitalize;
	color:#AA81FB;
	margin-top:85px;
}

.sb_card6 p,
.sb_card6_ p,
.sb_card6__ p,
.sb_card6___ p,
.sb_card5_ p{
	font-family: Roboto Flex;
	font-size: 10px;
	margin-bottom:6px;
	font-weight: 400;
	line-height: 14px;
	text-transform:capitalize;
	letter-spacing: 0.21501342952251434px;
	text-align: left;
	color:#6E7191;
}

.sb_card7{
	position:relative;
	background-color: #ffffff;
	background-image: url('../assets/home/circlelt.png');
	background-size: contain; /* Adjust size to cover the whole navbar */
	background-position: right; /* Position the background in the center */
	background-repeat: no-repeat; /* Prevent the background from repeating */
	max-width:100%;
	height:auto;
	margin-top:5px;
	border-radius:10px;	
}

.sb_card7 img{
	width:50px;
	height:50px;
	position:absolute;
	top:10px;
	right:10px;
}

.sb_card7 h4{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 800;
	line-height: 18.78px;
	letter-spacing: 0.21501342952251434px;
	text-align: left;
	color:#AA81FB;
	margin-top:100px;
}

.sb_card7 p{
	font-family: Roboto Flex;
	font-size: 10px;
	margin-bottom:6px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.21501342952251434px;
	text-align: left;
	color:#6E7191;
}

.modal-bottom-sheet1 {
  position: fixed;
  border:0px;
  border-radius:5px;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.modal.showBottomsheet_one .modal-bottom-sheet1 {
  transform: translateY(0);
}

.modal-bottom-sheet1 .modal-content .modal-header,
.modal-bottom-sheet1 .modal-content .modal-body{
	background: #2B2A2C!important;	
	border:0px!important;
	outline:0px;
}

.modal-bottom-sheet1 .modal-title{
	color:#ffffff!important;
	width:100%;
	text-align:center!important;
}

.modal-bottom-sheet1 .btn-close1{
	position:absolute;
	font-size:18px;
	top:20px;
	right:20px;
	color:#ffffff!important;
}

.modal-bottom-sheet1 .modal-title span{
	color:#BC66EE!important;
}

.modal-bottom-sheet1 .btn{
	margin-top:10%;
	width: 100%;
	color:#ffffff;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 8px;
	background: #AA81FB;
}

.custom-input::-webkit-calendar-picker-indicator {
	position:absolute;
	right:30px;
}

.services_3{
	position:relative;
	padding-top:40px;
	padding-bottom:40px;	
}

.services_3 .con{
	margin:0px;
	padding:3px;
}

.services_3 .services_3_h3__{
	font-family: Raleway;
	font-size: 60.44px;
	font-weight: 700;
	line-height: 60.22px;
	letter-spacing: 0.40802013874053955px;
	text-align: left;
	color:#BC66EE;
}

.services_3 .services_3_h4__{
	font-family: Raleway;
	font-size: 34.6px;
	font-weight: 600;
	line-height: 34.3px;
	letter-spacing: 0.22901369631290436px;
	text-align: left;
	margin-top:20px;
	color:#ffffff;	
}

.services_3 .h4_title{
	font-family: Raleway;
	font-size: 26px;
	font-weight: 700;
	line-height: 27.57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color:#ffffff;	
}

.services_3 .h4_title span{
	color:#BB65EA;
}

.services_3 .h5_title{
	font-family: Raleway;
	font-size: 17px;
	font-weight: 600;
	line-height: 17.83px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}
.accordion-item{
	background:transparent;
	border:0px;
	padding:10px;
}

.accordion-item .accordion-header{
	background:transparent;
	border:0px;
}

.accordion-item .accordion-header h5{
	color:#AA81FB;
	font-family: Raleway;
	font-size: 16px!important;
	font-weight: 600;
	line-height: 13.78px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
}

.accordion-item .accordion-header span{
	color:#ffffff;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 400;
	line-height: 28.18px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
}

.accordion-item .accordion-content{
	color:#ffffff;
	font-family: Roboto Flex;
	font-size: 12px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;	
}

.services_1{
	position:relative;
	padding-top:90px;
	padding-bottom:40px;
}

.services_1 a{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	text-decoration:none;
	color:#ffffff;
}

.services_1 .form-select{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	border:0px;
	outline:0px;
	background:transparent;
	color:#ffffff;
}

.services_1 .form-select option {
  font-family: Raleway, sans-serif; /* Ensure fallback font */
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  letter-spacing: 0.2px;
  text-align: left !important;
  background: #333; /* Background color for options (limited support) */
  color: #ffffff !important; /* Text color */
}

.services_1 img{
	width:100%;
	padding:10px;
}

.services_1 h3{
	color: #BB65EA;
	font-family: Raleway;
	font-size: 32px;
	font-weight: 800;
	line-height: 32.96px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
}

.services_1 h4{
	font-family: Raleway!important;
	font-size: 22px!important;
	font-weight: 700!important;
	line-height: 22.57px!important;
	letter-spacing: 0.20000000298023224px!important;
	text-align: left!important;
	color:#ffffff!important;	
	margin-bottom:0px;
}

.services_1 h4 img{
	width:50px!important;
	height:50px!important;
}

.services_1 h5{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 20.83px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;	
	color:#ffffff;
}

.services_1 p{
	font-family: Roboto Flex;
	font-size: 12px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color:#ffffff;
}

.services_1 .btn{
	background:#AA81FB;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	text-transform:uppercase;
	line-height: 20px;
	letter-spacing: 1.25px;
	text-align: center;
	color:#ffffff;
}

.services_2{
	position:relative;
	padding-top:40px;
	padding-bottom:40px;
}

.services_2 img{
	width:100%;
	padding:10px;
	border-radius:20px;	
}

.services_2 .card{
	border-radius:25px;
}
.services_2 h4{
	font-family: Raleway;
	font-size: 22px;
	font-weight: 700;
	line-height: 22.57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color:#ffffff;	
}
.services_2 h5{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 17.83px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}
.services_2 span{
	color:#AA81FB;
}
.services_2 .card h5{
	font-family: Roboto Flex;
	font-size: 14.24px;
	font-weight: 600;
	line-height: 24.4px;
	letter-spacing: 0.10168065875768661px;
	text-align: center;
	color:#4E4B66!important;	
}
.services_2 .card p{
	color:#4E4B66;
	font-family: Roboto Flex;
	font-size: 10.17px;
	font-weight: 300;
	line-height: 24.4px;
	letter-spacing: 0.10168065875768661px;
	text-align: center;
}
.services_2 p{
	margin-top:5px!important;
	margin-bottom:5px!important;
	font-family: Roboto Flex;
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
	letter-spacing: 0.10000000149011612px;
	text-align: justified;
	color:#ffffff;
	margin:0px;
}
.services_2 a{
	border-radius:10px;
	border:1px solid #AA81FB;
	text-decoration:none;
	font-family: Roboto Flex;
	font-size: 12px;
	font-weight: 500;
	padding:5px;
	color:#ffffff;
	line-height: 14.06px;
	letter-spacing: 0.20000000298023224px;
}

.services_2 .abpt{
	font-weight:700;
	font-size:16px;
	font-family: Raleway;
	font-weight: 700;
	line-height: 18.18px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	
}

.services_2 .abpb{
font-family: Raleway;
font-size: 14px;
font-weight: 600;
line-height: 16.78px;
letter-spacing: 0.20000000298023224px;
text-align: left;
}

.services_4{
	padding-top:40px;
	padding-bottom:40px;
}

.services_4 img{
	width:100%;
	border-radius:10px;
}

.services_4 h3{
	font-family: Roboto Flex;
	font-size: 27px;
	font-weight: 600;
	margin-top:10px;
	line-height: 46.88px;
	letter-spacing: 0.11749999970197678px;
	text-align: center;
	color:#ffffff;	
}

.services_4 h4{
	font-family: Raleway;
	font-size: 32px;
	font-weight: 700;
	line-height: 37.57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color:#ffffff;	
}

.services_4 h4 span{
	color:#AA81FB;
}

.services_4 h5{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 23.48px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	margin-top:10px;
	color:#ffffff;	
}

.services_4 p{
	font-family: Roboto Flex;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.015em;
	text-align: left;
	color:#ffffff;
}

.services_5 .h4{
	font-family: Raleway;
	font-size: 32px;
	font-weight: 700;
	line-height: 37.57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color:#ffffff;
}

.services_5 .h4 span{
	color:#AA81FB!important;
}

.services_5 .h5{
	font-family: Raleway;
	font-size: 22px;
	font-weight: 600;
	line-height: 25.83px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.services_5 .h4__{
	font-family: Raleway;
	font-size: 27px;
	font-weight: 700;
	line-height: 27.57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color:#ffffff;
}

.services_5 .h4__ span{
	color:#BB65EA!important;
}

.services_5 .h5__{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 20.83px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.use_cases{
	
}

.use_cases h4{
	color:#ffffff;	
	font-family: Raleway;
	font-size: 32px;
	font-weight: 700;
	line-height: 32.57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	margin-top:-20px;
}

.use_cases h4 span{
	color:#AA81FB;
}

.use_cases h5{
	color:#ffffff;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 600;
	line-height: 23.48px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;	
}

.blogs{
	
}

.blogs h4{
	margin-top:-20px;	
	color:#ffffff;	
	font-family: Raleway;
	font-size: 32px;
	font-weight: 700;
	line-height: 37.57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
}

.blogs h4 span{
	color:#AA81FB;
}

.blogs .h5{
	color:#ffffff;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 600;
	line-height: 23.48px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;	
}

.use_cases_1{
	padding-top:80px;
}

.use_cases_1 .h4{
	color:#ffffff;
	font-family: Raleway;
	font-size: 27px;
	font-weight: 700;
	line-height: 27.57px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;	
}

.use_cases_1 .h4_{
	font-family: Roboto Flex;
	font-size: 27px;
	font-weight: 700;
	line-height: 27.5px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.use_cases_1 .h5{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 20.83px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.use_cases_1 .h3{
	font-family: Raleway;
	font-size: 32px;
	font-weight: 800;
	line-height: 32.96px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#BB65EA;
	margin:0px;
}

.use_cases_1 .ul1{
	display:flex;
	margin:0px;
	margin-left:-25px;
}

.use_cases_1 .ul1 li:first-child{
	margin:15px;
	color:#BB65EA;
	text-decoration:underline;
}

.use_cases_1 .ul1 li{
	margin:15px;
	color:#ffffff;
	text-decoration:underline;
}

.use_cases_1 .p_{
	font-family: Raleway;
	font-size: 12px;
	font-weight: 500;
	line-height: 12.44px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.use_cases_1 .p{
	font-family: Roboto Flex;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color:#ffffff;
}

.use_cases_1 .mainimg{
	width:100%;
	margin-bottom:40px;
	margin-top:20px;
}

.use_cases_1 .btn{
	box-shadow: 0px 3px 12px 0px #00000029;	
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	color:#ffffff;
	margin-top:20px;
	margin-bottom:20px;
}

.use_cases_1 .btn-active{
	background:#BB65ED;
	box-shadow: 0px 3px 12px 0px #00000029;	
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	color:#ffffff;
	margin-top:20px;
	margin-bottom:20px;
}

.use_cases_1 .btn:hover{
	background:#BB65ED;
	box-shadow: 0px 3px 12px 0px #00000029;	
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	color:#ffffff;
	margin-top:20px;
	margin-bottom:20px;
}

.use_cases_1 .form-control,.use_cases_1 .input-group-text{
	border-radius:50px 50px 50px;
	background:#ffffff;
	border:0px;
}

.form-control-blog-usecase,
.form-control-blog-usecase::placeholder{
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color:#A0A3BD;	
}

.pagination{
	border:0px;
	background:transparent!important;
	align-items:center;
}

.pagination .page-item{
	border:1px solid transparent;
	background:transparent!important;	
}

.pagination .page-item:first-child{
	margin-right:10px!important;	
}

.pagination .page-item:last-child{
	margin-left:10px!important;	
}

.pagination .active{
	border:1px solid #BB65EA;
	background:#BB65EA!important;	
	border-radius:8px;
}

.pagination .page-item::focus{
	outline:none;
	box-shadow:none;
	border:none;
}

.pagination .page-item .page-link{
	border:1px solid transparent;
	color:#ffffff;
	background:transparent!important;	
	font-family: Roboto Flex;
	font-size: 18px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;

}

.bannerbox {
  background: linear-gradient(180deg, #B361E3 0%, #8952D6 100%);
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  position: relative !important;
  width: 100%;
  overflow: hidden;
}

.bannerbox .box{
	width:96%;
	position:relative;
	margin-left:-20px;
	padding-left:0px;
	margin-right:0px;
}
.bannerbox .imgbox {
  width: 100% !important;
  position: relative !important;
  height: 220px;
  transform:scale(0.8);
  display: block; /* No need for flexbox with absolute positioning */
}

.bannerbox .imgbox img {
  position: absolute; /* Ensure images are not absolutely positioned */
  height: auto;
  width:auto!important;
  bottom:-24%;
}

.bannerbox .imgbox .b1{
  border-radius: 10px; 
  z-index:4;
} 
.bannerbox .imgbox .b2{
  border-radius: 10px; 	
  right:-5.50%;
  z-index:3;
}
.bannerbox .imgbox .b3{
  border-radius: 10px; 	
  right:-19%;
  z-index:2;
}
.bannerbox .imgbox .b4{
  border-radius: 10px; 
  right:-29%;
  z-index:1;
}

.bannerbox .contain{
	padding-left:25px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.bannerbox .contain .title{
	font-family: Raleway;
	font-size: 17px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	color:#ffffff;
}

.bannerbox .contain .p{
	font-family: Roboto Flex;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.015em;
	text-align: center;
	color:#ffffff;	
}

.bannerbox .contain .sub_title{
	font-family: Raleway;
	font-size: 15px;
	font-weight: 700;
	line-height: 18.78px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	color:#ffffff;
}

.bannerbox .contain .btn{
	background: #111012;
	color:#ffffff;
	border-radius: 5px;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 1.25px;
	text-align: center;	
	text-transform:uppercase;
}

.BlogDetails_1{
	position:relative;
	width:100%;
	padding-top:80px;
	padding-bottom:40px;
}

.BlogDetails_1 img{
	width:100%;
	border-radius:20px;
	margin-bottom:20px;
	margin-top:20px;
}

.BlogDetails_1 .a{
	text-decoration:none;
	color:#ffffff;
}

.BlogDetails_1 h4{
	font-family: Raleway;
	font-size: 22px;
	font-weight: 600;
	line-height: 27.57px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.BlogDetails_1 h4 span{
	color:#BB65EA;
}

.BlogDetails_1 .table_contain{
	font-family: Roboto Flex;
	font-size: 14px;
	font-weight: 300;
	line-height: 16.41px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
}

.BlogDetails_1 .table_contain span{
	font-weight: 500;
}

.BlogDetails_1 .bullet_style{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 23.48px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;
	margin-top:15px;
	margin-bottom:15px;
}

.BlogDetails_1 .li_style{
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color:#ffffff;
}

.BlogDetails_1 .li_style span{
	font-family: Raleway;
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	color:#ffffff;
}

.BlogDetails_1 p{
	font-family: Roboto Flex;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	letter-spacing: 0.10000000149011612px;
	text-align: justify;
	color:#ffffff;	
	margin:0px;
}

.BlogDetails_1 h5{
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 25.83px;
	letter-spacing: 0.11749999970197678px;
	text-align: left;
	color:#ffffff;	
}
.BlogDetails_1 h5 span{
	color:#BB65EA;
	text-transform:capitalize;
}

.BlogDetails_1 h6{
	font-family: Raleway;
	font-size: 15px;
	font-weight: 600;
	line-height: 16.78px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color:#ffffff;
}

.BlogDetails_1 .linkbtn{
font-family: Roboto Flex;
font-size: 12px;
text-decoration:none;
font-weight: 500;
line-height: 14.06px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color:#ffffff;	
border: 1px solid #AA81FB;
padding:3px 15px;
border-radius:10px;
}

.BlogDetails_1 .mimg{
	min-height:270px;
	margin-top:97px;
}